{{ partial "header.html" . }}

<div id="home" class="layout animated fadeIn">
    <section id="home-hero">
        <div class="content animated fadeInUp ">
            <h1>{{ .Params.hero_headline }}</h1>
            <p>{{ .Params.hero_subhead }}</p>
            <a class="cta" href="#read-more"><img src="/img/cta-badge.png"></a>
        </div>
    </section> 
    <div id="home-belowfold">
        <a id="read-more"></a>
        <section id="home-services" class="home-section">
            <h2 class="section-title">{{ .Params.services.section_title }}</h2>
            <div class="service">
                <img src="{{ .Params.services.service_1.service_1_icon }}">
                <div class="content">
                    <h3>{{ .Params.services.service_1.service_1_title }}</h3>
                    <p>{{ .Params.services.service_1.service_1_description }}</p>
                </div>
            </div>
            <div class="service">
                <img src="{{ .Params.services.service_2.service_2_icon }}">
                <div class="content">
                    <h3>{{ .Params.services.service_2.service_2_title }}</h3>
                    <p>{{ .Params.services.service_2.service_2_description }}</p>
                </div>
            </div>
            <div class="service">
                <img src="{{ .Params.services.service_3.service_3_icon }}">
                <div class="content">
                    <h3>{{ .Params.services.service_3.service_3_title }}</h3>
                    <p>{{ .Params.services.service_3.service_3_description }}</p>
                </div>
            </div>
            <div class="service">
                <img src="{{ .Params.services.service_4.service_4_icon }}">
                <div class="content">
                    <h3>{{ .Params.services.service_4.service_4_title }}</h3>
                    <p>{{ .Params.services.service_4.service_4_description }}</p>
                </div>
            </div>
        </section>
        <section id="home-about" class="home-section">
            <h2 class="section-title">{{ .Params.about.section_title }}</h2>
            <img src="/img/about-badge-hero.png">
            <div class="content">
                {{ .Params.about.bio }}
            </div>
        </section>
        {{ .Params.bio_test }}
    </div> 
</div>

{{ partial "footer.html" . }}