{{ partial "meta.html" . }}
{{ partial "header.html" . }}


<!-- Main view -->
  
<div id="blog" class="list-page layout">
	<!--
	<aside class="animated fadeInLeft">
		<h3>Categories</h3><br>
		<ul>
			<li><a href="/blog">All Categories</a></li>
			{{ range $key, $value := .Site.Taxonomies.categories }}
			<li><a href="/categories/{{ $key | urlize }}">{{ $key | title }}</a></li>
    {{ end }}
		</ul>
	</aside>
	-->
  <main>
		<div class="content">
			<h1 class="animated fadeInUp">{{ .Title }}</h1>
			<p class="list-description animated fadeInUp">Welcome to our blog where we keep you informed of the paths we are taking to pave the way for your family.</p>
			<div class="articles animated fadeInUp">
				{{ range .Pages.ByWeight }}	  
					{{ .Render "li" }}
				{{ end }}
			</div>
	  </div>
  </main>
</div>

{{ partial "footer.html" . }}