$primary-font: Clarika Geometric;

// Refinery Site Fonts

$fontpath : "https://s3.us-east-2.amazonaws.com/journeytowardpeace.com/fonts/";

@font-face {
    font-family: $primary-font;
    src: url(#{$fontpath}ClarikaGeo-Bold.woff2) format('woff2'),
         url(#{$fontpath}ClarikaGeo-Bold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: $primary-font;
    src: url(#{$fontpath}ClarikaGeo-Regular.woff2) format('woff2'),
         url(#{$fontpath}ClarikaGeo-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $primary-font;
    src: url(#{$fontpath}ClarikaGeo-It.woff2) format('woff2'),
         url(#{$fontpath}ClarikaGeo-It.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: $primary-font;
    src: url(#{$fontpath}ClarikaGeo-DemiBold.woff2) format('woff2'),
         url(#{$fontpath}ClarikaGeo-DemiBold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: $primary-font;
    src: url(#{$fontpath}ClarikaGeo-DemiBold-It.woff2) format('woff2'),
         url(#{$fontpath}ClarikaGeo-DemiBold-It.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: $primary-font;
    src: url(#{$fontpath}ClarikaGeo-Light.woff2) format('woff2'),
         url(#{$fontpath}ClarikaGeo-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: $primary-font;
    src: url(#{$fontpath}ClarikaGeo-Light-It.woff2) format('woff2'),
         url(#{$fontpath}ClarikaGeo-Light-It.woff) format('woff');
    font-weight: 300;
    font-style: italic;
}