{{ partial "meta.html" . }}

<body>
    <header id="default" class="animated fadeIn">
        <div class="content">
            <a id="brand" href="/">
                <img class="desktop" src="/img/j2p-logo.svg" alt="Journey Toward Peace">
                <img class="mobile" src="/img/j2p-logo-bug.svg" alt="Journey Toward Peace">
            </a>
            <nav id="main-menu">
                <ul>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="container site">