header{
    background:white;
    color:white;
    position: fixed;
    z-index: 50;
    width:100%;

    .content{
        box-sizing: border-box;
        position: relative;
        padding: 10px $site-padding 6px;

        a#brand{
            float: left;

            img{ height: 60px; }
        }

        a{
            color:$text;
            text-decoration: none;
        }
        a:hover{ color:$text; opacity: .7;}
        a:active{ opacity: .4;}
    }
    .content:after{
        @include clearfix;
    }
}
header#transparent{
    background:none;
}
header#sticky_header{
    position:fixed;
    z-index: 10;
    top:0;
    left: 0;
    width: 100%;
    background-color: $primary;
    display: none;
}

// Navigation

nav#main-menu{
    display: block;
    float: right;
    margin-top:20px;

    ul{
        margin:0;
        padding:0;

        li{
            display: inline-block;
            margin:0;
            padding:0;
            list-style: none;
            margin-left:5vw;

            a{
                font-size: 20px;
            }
        }
    }
}
@media (min-width:640px){

// Navigation

nav#main-menu{

    ul{
        li{
            margin-left:3vw;
        }
    }
}
}